---
volume: 3
issue: 1
season: winter
year: 2001
title: "JCRT - Table of Contents"
description: "Issue 3.1"
image: /images/jcrt.svg
subjects:
  - label: 'Religion'
    scheme: 'FAST'
    identifier: 'fst01093763'
    uri: 'https://id.worldcat.org/fast/1093763'
    category: 'topical'
---

{% include "partials/archive_issue_toc.njk" %}
