---
volume: 25
issue: 2
season: Summer
year: 2026
date: 2026-08-24
title: "Journal for Cultural and Religious Theory - Table of Contents"
description: "A Whitestone Publication - Issue 25.2   Summer 2026"
image: /images/25.2-cover-bhautik-patel.webp
thumbnail: /images/25.2-cover-bhautik-patel_tn.webp
issue_image_width: 1180
issue_image_height: 672
keywords: [continental-philosophy, political-theology, ethics, consciousness, augustine, sufism, metamodernism]
use_article_number: true
subjects:
  - label: 'Consciousness'
    scheme: 'FAST'
    identifier: 'fst00875441'
    uri: 'https://id.worldcat.org/fast/875441'
    category: 'topical'
  - label: 'Continental philosophy'
    scheme: 'FAST'
    identifier: 'fst01765182'
    uri: 'https://id.worldcat.org/fast/1765182'
    category: 'topical'
  - label: 'Ethics'
    scheme: 'FAST'
    identifier: 'fst00915833'
    uri: 'https://id.worldcat.org/fast/915833'
    category: 'topical'
  - label: 'Political theology'
    scheme: 'FAST'
    identifier: 'fst01069899'
    uri: 'https://id.worldcat.org/fast/1069899'
    category: 'topical'
  - label: 'Sufism'
    scheme: 'FAST'
    identifier: 'fst01137257'
    uri: 'https://id.worldcat.org/fast/1137257'
    category: 'topical'
---

{% include "partials/archive_issue_toc.njk" %}

<p class="text-muted small mt-4">Cover photo by <a href="https://unsplash.com/photos/m-yAg03XdOk" rel="noopener nofollow">Bhautik Patel</a> on <a href="https://unsplash.com/" rel="noopener nofollow">Unsplash</a>.</p>
