---
volume: 1
issue: 1
season: winter
year: 1999
title: "JCRT - Table of Contents"
description: " New from JCRT - 1.1 Winter 1999"
image: /images/jcrt.svg
subjects:
  - label: 'Religion'
    scheme: 'FAST'
    identifier: 'fst01093763'
    uri: 'https://id.worldcat.org/fast/1093763'
    category: 'topical'
---

{% include "partials/archive_issue_toc.njk" %}
