---
volume: 16
issue: 1
season: winter
year: 2016
title: "JCRT - Table of Contents"
description: "Special Issue Editors:  Sergio Figueiredo, Victor Taylor - Civic Humanities - 16.1   Winter 2016-17"
image: /images/jcrt.svg
subjects:
  - label: 'Religion'
    scheme: 'FAST'
    identifier: 'fst01093763'
    uri: 'https://id.worldcat.org/fast/1093763'
    category: 'topical'
---

{% include "partials/archive_issue_toc.njk" %}
