---
volume: 12
issue: 3
season: spring
year: 2013
title: "JCRT - Table of Contents"
description: "JCRT Special Issue: Globalization Theory - 12.3 Spring 2013"
image: /images/jcrt.svg
subjects:
  - label: 'Religion'
    scheme: 'FAST'
    identifier: 'fst01093763'
    uri: 'https://id.worldcat.org/fast/1093763'
    category: 'topical'
---

{% include "partials/archive_issue_toc.njk" %}
