<button type="button" class="btn btn-primary" data-bs-toggle="modal" 
data-bs-target="#searchModal">
  Launch demo modal
</button>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<div class="modal-title fs-5" id="searchModalLabel">{{metadata.search.title}} <svg class="icon-svg" aria-hidden="true"><use href="#fa-magnifying-glass"/></svg></div>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body p-3 p-md-3 bg-light rounded opacity-95">
<div id="search-modal-pagefind"></div>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        document.getElementById("searchModal")?.addEventListener("shown.bs.modal", () => {
            window.renderPagefindSearch?.("#search-modal-pagefind");
        }, { once: true });
    });
</script>
</div>
</div>
</div>
</div>
