---
permalink: "/sitemaps/datacite.xml"
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<df:resources
  xmlns:df="https://jcrt.org/schema/datacite-feed"
  xmlns="http://datacite.org/schema/kernel-4"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    https://jcrt.org/schema/datacite-feed https://jcrt.org/sitemaps/datacite-feed.xsd
    http://datacite.org/schema/kernel-4 https://jcrt.org/sitemaps/metadata.xsd">
{% for rec in dataciteArchives %}{% if rec.section == "archives" %}
  <resource>
    <identifier identifierType="{{ rec.identifierType }}">{{ rec.identifier | escape }}</identifier>
    <creators>
{% for creator in rec.creators %}
      <creator>
        <creatorName>{{ creator | escape }}</creatorName>
      </creator>
{% endfor %}
    </creators>
    <titles>
      <title>{{ rec.title | stripMd | escape }}</title>
    </titles>
    <publisher>{{ rec.publisher | escape }}</publisher>
    <publicationYear>{{ rec.publicationYear }}</publicationYear>
    <resourceType resourceTypeGeneral="{{ rec.resourceTypeGeneral }}">{{ rec.resourceType }}</resourceType>
{% if (rec.keywords and (rec.keywords | length) > 0) or (rec.subjects and (rec.subjects | length) > 0) %}
    <subjects>
{% for kw in rec.keywords %}
      <subject>{{ kw | escape }}</subject>
{% endfor %}
{% for subject in rec.subjects %}
      <subject subjectScheme="{{ subject.scheme | escape }}"{% if subject.uri %} schemeURI="{{ ('https://id.worldcat.org/fast/' if subject.scheme == 'FAST' else 'https://homosaurus.org/v5') | escape }}" valueURI="{{ subject.uri | escape }}"{% endif %}>{{ subject.label | escape }}</subject>
{% endfor %}
    </subjects>
{% endif %}
    <relatedIdentifiers>
{% if rec.identifierType == "DOI" %}
      <relatedIdentifier relatedIdentifierType="URL" relationType="IsIdenticalTo">{{ rec.pageUrl | escape }}</relatedIdentifier>
{% endif %}
{% if rec.pdfUrl %}
      <relatedIdentifier relatedIdentifierType="URL" relationType="IsIdenticalTo">{{ rec.pdfUrl | escape }}</relatedIdentifier>
{% endif %}
      <relatedIdentifier relatedIdentifierType="ISSN" relationType="IsPartOf">1530-5228</relatedIdentifier>
    </relatedIdentifiers>
{% if rec.dateIssued %}
    <dates>
      <date dateType="Issued">{{ rec.dateIssued }}</date>
    </dates>
{% endif %}
    <language>en</language>
{% if rec.description %}
    <descriptions>
      <description descriptionType="Abstract">{{ rec.description | escape }}</description>
    </descriptions>
{% endif %}
  </resource>
{% endif %}{% endfor %}
</df:resources>
