---
volume: 14
issue: 2
season: spring
year: 2015
title: "JCRT - Table of Contents"
description: >-
  Mashup Philosophy of Religion: A Special Issue of The Journal for Cultural
  and Religious Theory - 14.2 Spring 2015
image: /images/jcrt.svg
subjects:
  - label: 'Religion'
    scheme: 'FAST'
    identifier: 'fst01093763'
    uri: 'https://id.worldcat.org/fast/1093763'
    category: 'topical'
---

{% include "partials/archive_issue_toc.njk" %}
